
html, body, #root {
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
*{
    box-sizing:inherit;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
    padding: 0;
    margin: 0;
}

h2 {
    padding: 0;
    margin: 0;
}
.navLink {
    text-decoration: none;
    color: var(--text-inactive-color);
}
.activeNav{
    text-decoration: none;
    color: var(--text-primary-color)
}

