.header {
  background: #1c1c21;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav,
.logo,
.profile {
  flex: 1;
}

.navList {
  list-style: none;
  display: flex;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.navItem {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.navLink {
  text-decoration: none;
  color: var(--text-inactive-color);
}

.navLink:hover,
.navLink:active {
  color: var(--text-primary-color);
}

.profile {
  composes: navItem;
  justify-content: end;
}
