.constructorWrapper {
  display: flex;
  flex-direction: column;
  height: 88%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 90%;
  overflow-y: scroll;
}

.bunWrapper {
  text-align: center;
}

.addedIngredients {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: end;
}

.withIcon {
  width: 100%;
  text-align: end;
}

.customScroll::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 12px;
}

.customScroll::-webkit-scrollbar-track {
  background: #2f2f37;
}

.customScroll::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #2f2f37;
  border-radius: 6px;
}
