.contentWrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.nutrition {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  gap: 20px;
}

li {
  display: flex;
  flex-direction: column;
}
