
main{
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    max-width: 1240px;
    margin: 0 auto;
    height: 100%;
}
h1{
    width: 100%;
}
.ingredients,.order{
    flex:1;
}
.orderPrice{
    display:flex;
    justify-content:end;
    gap:40px
}
